<!DOCTYPE html>
<html>
  <head>
	<title>Home Page</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

  </head>
  <body>
    <form action="//vcm-26551.vm.duke.edu/Track" method="post">
      <!-- user input-->
      Tracking Number:<br>
      <input type="text" name="trackNumber" placeholder="Tracking Number" required><br><br>
      <!-- submit button -->
      <input type="submit" value="Search">
    </form>
    <br><br><br><br><br>
     <!-- link to login page-->
    Do you have your account?
	  <a href="/login">Login Here!</a><br>
    Do you want to sign up?
    <a href="/signup">Sign Up Here!</a><br>
  </body>
</html>


